<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="600">

    <Properties>
        <Property name="path">logs</Property>
        <Property name="purpose">demo</Property>
        <Property name="commonPattern">%d{yyyy MM dd HH:mm:ss,SSS} [%t] %-5level %l - %m%n</Property>
    </Properties>

    <Appenders>

        <RollingFile name="RollingFile" fileName="${path}/${purpose}.log"
                         filePattern="logs/$${date:yyyy-MM}/${purpose}-%d{MMM-dd-yyyy}-%i.log.zip">
            <PatternLayout>
                <Pattern>${commonPattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout Pattern="${commonPattern}" />
        </Console>

        <Async name="AsyncRollingFile">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Async>

        <Async name="AsyncConsole">
            <AppenderRef ref="Console"/>
        </Async>

    </Appenders>
    <Loggers>
        <Logger name="org.nick" level="trace" additivity="false">
            <AppenderRef ref="AsyncRollingFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

